
.jumbotron{
    margin-top: 100px;
}

.list-inline{
    margin-bottom: 0;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }